

<div class="title-page-block">
    <h1>{{title}}</h1>
</div>

<div class="content-block">
    
    <div class="admin-info-block">
        <div class="admin-info-message">
            <h3>Сейчас на обработке</h3>
            <p class="order-quantity processing">{{processing.length}} заказов </p>
            
            <a href="/admin/orders/" class="uk-button uk-button-primary uk-button-large">Перейти к заказам</a>
        </div>
    </div> 

    
    <div class="admin-info-block">
        <div class="admin-info-message">
            <h3>####</h3>
            <p>***********</p>
            
            <a href="/admin/orders/" class="uk-button uk-button-primary uk-button-large">###</a>
        </div>
    </div>       
    
    
    {{!-- <div class="send-bot-form">
        <form action="/admin" method="POST">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Что напишем?</legend>

                <div class="uk-margin">
                    <textarea name="message" class="uk-textarea" rows="5" placeholder="Например, мы роботы и мы уничтожим человечество..." required></textarea>
                </div>
                        
                <button class="uk-button uk-button-primary uk-button-large" type="submit">Отправить сообщение</button>
            </fieldset>
        </form>
    </div> --}}

</div>