

<div class="logo-title">
    <h1> ChangerBot </h1>
    <p>Крипто-обменник нового поколения.</p>
</div>


<div class="auth-form">
    <form method="POST">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Может авторизуешься?</legend>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Логин">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="password" placeholder="Пароль">
            </div>
            
            <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large" type="submit">Войти</button>

        </fieldset>
    </form>
</div>